[submodule "cosmos-sdk"]
	path = cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "althea-chain"]
	path = althea-chain
	url = https://github.com/althea-net/althea-chain.git
[submodule "gravity"]
	path = gravity
	url = https://github.com/gravity-bridge/gravity-bridge.git
[submodule "tendermint"]
	path = tendermint
	url = https://github.com/informalsystems/tendermint.git
[submodule "ibc-go"]
	path = ibc-go
	url = https://github.com/cosmos/ibc-go
[submodule "bech32-ibc"]
	path = bech32-ibc
	url = https://github.com/althea-net/bech32-ibc
[submodule "ibc-test-chain"]
	path = ibc-test-chain
	url = https://github.com/althea-net/ibc-test-chain
